# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary files
tempCodeRunnerFile.py

# Test files
test_verification.py

# Claude Code
.claude

# Miller_Rabin_test_comments
miller_rabin_test copy.py